---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
  </head>
  <body>
    <Header />
    <main>
      <div id="search"></div>
      <script>
          window.addEventListener('DOMContentLoaded', (event) => {
              //@ts-ignore
              new PagefindUI({ element: "#search", showSubResults: true });
          });
      </script>
      <h1>O nas!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nemo
        aspernatur asperiores nesciunt laboriosam maxime neque exercitationem
        officiis recusandae dolore rerum laborum repellendus beatae, sit
        officia, esse error aut reprehenderit.
      </p>
    </main>
    <Footer />
  </body>
</html>
